html, body {
  height: 100%; }

.main-container {
  min-height: 100%; }

.server-checkbox {
  height: 50px; }

.checklist-container {
  height: 100%;
  overflow: auto; }

/*# sourceMappingURL=installer-style.css.map */
