
html, body{
  height: 100%;
  font-family: 'Quicksand', cursive;
}

p{
  margin-top: 20px;
  margin-bottom: 10px;
}

.finish p{
  text-align: center;
  &.text-info{
    font-size:18px;
  }
}

.navbar-default {
  margin-bottom: 0;
}
.header{
  margin-bottom: 16px;
}

.form-control{
  margin-bottom: 5px;
}

.user-form{
  .closed-user{
    background: transparent;
    border: 0;
    color: #337ab7;
  }
  form{
    max-width: 500px;
    margin: auto;
    margin-bottom: 20px;
  }
  .ok-user{
    text-align: right ;
  }
}

.submit-button {
  padding-top: 30px;
  button {
    width: 250px;
    margin: auto;
    display: block;
  }
}

.main-container{
  min-height: calc(100% - 52px);
}

.server-checkbox{
  height:50px;
}

.checklist-container{
  max-height: 400px;
  overflow: auto;
}

