$circleSize: 25px;


.progress-indicator{
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  padding-bottom: 65px;

  li{
    position: relative;
    list-style: none;
  }
  .slide{
    display: table-cell;
    position: relative;
  }
  .tube, .circle-tube {
    background-color: #E2E2E2;
    border: 0;
    -moz-box-shadow:    inset 0 3px 6px -5px #8E8D8D;
    -webkit-box-shadow: inset 0 3px 6px -5px #8E8D8D;
    box-shadow: inset 0 3px 6px -5px #8E8D8D;
  }

  .tube, .progress-bar-container{
    position: absolute;
    width: 100%;
    right: 50%;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 10px;
  }
  .tube{
    z-index: 1;
    box-shadow: inset 0 1px 6px -3px #000000;
  }
  .progress-bar-container{
    z-index: 3;
  }
  .progress-bar{
    position:absolute;
    width:0;
    height: 49%;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .circle-tube, .circle-fill {
    right:0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 100%;
    height: $circleSize;
    width: $circleSize;
  }
  .circle-tube {
    z-index: 2;
    position: relative;
  }
  .circle-fill {
    z-index: 4;
    position: absolute;
  }

  .circle-fill-inner {
    transition: all 0.4s 0s;
    color: gray;
    text-align: center;
    border-radius: 100%;
    height: 75%;
    width: 75%;
    right: 0;
    left: 0;
    margin: auto;
    position: absolute;
    vertical-align: middle;
    top: 0;
    bottom: 0;
  }
  .circle-text{
    position: absolute;
    top: 40px;
    width: 100%;
    text-align: center;
  }

  .slide.active, .slide.saved{
    .progress-bar{
      width:100%;
    }
    .circle-fill-inner {
      background-color: #337ab7;
      color: white;
      box-shadow: inset 0 2px 3px -1px #8AA6DA;
    }
    .circle-text{
      color: #337ab7;
    }
  }

  .circle-fill-inner i {
    font-size: 10px;
  }

  .slide.active{
    .circle-fill-inner {
      height: 120%;
      width: 120%;
    }
  }

}
