.breadcrumbs {
  margin: 0;
  padding: 0;
  width: 100%;
  display: table; }
  .breadcrumbs .crumb-wrapper {
    display: table-cell; }
  .breadcrumbs .slide {
    width: 99%;
    margin: auto;
    border-radius: 2px;
    background: #987373;
    height: 40px; }
  .breadcrumbs li {
    list-style: none;
    display: table;
    height: 100%;
    width: 100%; }
    .breadcrumbs li div {
      display: table-cell;
      vertical-align: middle; }
  .breadcrumbs .slide-index {
    width: 20%;
    text-align: center; }
  .breadcrumbs .crumb.active li {
    color: blue; }
  .breadcrumbs .crumb.saved li {
    color: green; }

/*# sourceMappingURL=progress-indicator.css.map */
