
<ul class="progress-indicator">
  <div ng-repeat="step in steps" class="slide" ng-style="{width: (100/steps.length) + '%'}"
       ng-class="{'active' : $index === currentPosition , 'saved' : $index < currentPosition}">
    <li>
      <div class="tube" ng-if="!$first"></div>
      <div class="progress-bar-container" ng-if="!$first">
        <div class="progress-bar"
             ng-style="onReset && setProgressBarTransition($index)" >
        </div>
      </div>
      <div class="circle-tube"></div>
      <div class="circle-fill">
        <div class="circle-fill-inner">
          <span ng-show="$index > currentPosition">{{$index+1}}</span>
          <span ng-show="$index === currentPosition">...</span>
          <i class="fa fa-check" ng-show="$index < currentPosition"></i>
        </div>
      </div>
      <div class="circle-text">
        {{step | stepTitle}}
      </div>
    </li>
  </div>
</ul>
