
<div class="user-form">

  <div ng-show="closed">
    <button ng-click="editUser()" class="closed-user"> > {{user.userName}} {{user.selectedRole}}</button>
  </div>
  <div ng-show="!closed">

    <form>
      <div>
        <input type="text" class="form-control" ng-model="user.userName" placeholder="Insert user name"/>
      </div>
      <select class="form-control" ng-options="role for role in roles" ng-model="user.selectedRole"></select>
      <div>
        <input type="password" class="form-control" ng-model="user.password" placeholder="Insert password"/>
      </div>
      <div>
        <input type="password" class="form-control" ng-model="user.passwordConfirm" placeholder="Confirm password"/>
      </div>
      <div>
        <textarea class="form-control" rows="4" cols="50" maxlength="500" ng-model="user.description" placeholder="Insert description"></textarea>
      </div>
      <div class="ok-user">
        <button ng-click="closeUser()" class="btn btn-primary">OK</button>
      </div>
    </form>

  </div>
</div>
