<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  </head>
  <body ng-app="guardicoreInstallerApp" ng-controller="ParentCtrl as parent">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <img src="images/logo.png" />
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
            </button>

          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <button ng-click="reset()">reset</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container main-container">
      <progress-indicator ng-show="nextIndex>=0" current-length="length" current-position="index" on-reset="onReset"></progress-indicator>
      <div ui-view></div>
    </div>

    <div class="footer">
      <div class="container">
        <!--<p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>-->
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/checklist-model/checklist-model.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/parent.js"></script>
        <script src="scripts/controllers/management-server.js"></script>
        <script src="scripts/controllers/protected-servers.js"></script>
        <script src="scripts/controllers/users-manager.js"></script>
        <script src="scripts/controllers/overview.js"></script>
        <script src="scripts/controllers/finish.js"></script>
        <script src="scripts/directives/user-form.js"></script>
        <script src="scripts/directives/submit-button.js"></script>
        <script src="scripts/directives/progress-indicator.js"></script>
        <script src="scripts/services/system-info-service.js"></script>
        <script src="scripts/services/user-input-service.js"></script>
        <script src="scripts/constants/steps-order.js"></script>
        <script src="scripts/constants/user-roles.js"></script>
        <script src="scripts/filters/step-title.js"></script>
        <!-- endbuild -->
</body>
</html>
