<div>

  <p>Please set a directory for the management server:</p>
  <select class="form-control" ng-options="directory for directory in directories" ng-model="chosenDirectory"></select>

  <p>Please set a root password for the management server:</p>
  <div>
    <input class="form-control" type="password" ng-model="password" placeholder="Insert password"/>
  </div>
  <div>
    <input class="form-control" type="password" ng-model="passwordConfirm" placeholder="Confirm password"/>
  </div>
  <submit-button params="{chosenDirectory:chosenDirectory,password:password }">
  </submit-button>
</div>
