<div class="protected-servers">

  <p>Please select which servers you want to protect:</p>
  <div class="server-checkbox">
    <input class="form-control" type="text" ng-model="genericDirectory">
  </div>
  <div class="checklist-container">
    <label class="btn btn-primary server-buttons" ng-repeat="server in servers">
      <input class="btn btn-primary" type="checkbox" data-checklist-model="user.servers" data-checklist-value="server">
      {{server.name}}
    </label>
  </div>

  <submit-button params="{servers: user.servers}">
  </submit-button>

</div>
