<div>

  <p>Please set users:</p>
  <user-form ng-repeat="user in users"
             user="user" on-close="addUser($last)">
  </user-form>

  <submit-button params="{users: users}">
  </submit-button>
</div>
